@media screen and (min-width: 40.5em)
{

  input, .ham
  {
    visibility: hidden;
  }

  h1
  {
    font-size: 14vw;
    margin-bottom: 3vw;
  }

  header > a
  {
    padding: 1vmin;
    left: 3vmin;
  }

  header > ul
  {
    opacity: 1;
    top: 0;
    height: 5vmax;
    right: 0;
    padding: 0 auto;
  }

  header > ul > li
  {
    top: 0;
    position: relative;
    display: inline-block;
    font-size: 2.2vmax;
    padding: 2vmin auto;
    height: 5vmax;
  }

  header > ul > li:hover > a
  {
    text-decoration: underline;
  }

  #social > div
  {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .placeholder > div
  {
    height: 35vmin;
    width: 35vmin;
  }

  #tribute > img
  {
    height: calc(35vmin - 2px);
    width: calc(35vmin - 2px);
  }

}
