* {
	/*border: 1px solid red;*/
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Source Sans Pro', sans-serif;
	transition: ease all 400ms;
	scroll-behavior: smooth;
}

section {
	height : 100vh;
	/*width: 100vw;*/

	display: flex;
	justify-content: center;
	align-items: center;
	scroll-behavior: smooth;
}

.no-transition {
	transition: unset;
}

@keyframes fancy-gradient {
	0% {background-position: 80% 0%;}
	50% {background-position: 20% 100%;}
	100% {background-position: 80% 0%;}
}

/* NAVIGATION */

nav {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	width: 100%;

	padding: 0;
	position: fixed;
	top: 0;

	background: transparent;
}

nav a {
	padding : 20px 40px;
	text-decoration: none;
	text-transform: uppercase;
	color : #FFF;
	font-size: 1.2em;
	letter-spacing: 1px;
}

nav a:hover {
	background: rgba(255,255,255,0.1);
}

.inverse {
	background : #212121;
}

.inverse a{
	color : #FFF;
}

.inverse a:hover {
	background: rgba(0,0,0,0.8);
}


/* LANDING */

#s1 {
	background: #202124;
	background: linear-gradient(45deg, #000000, #434343, #000000);
	background-size: 1000% 1000%; 
	animation: fancy-gradient 20s ease infinite;
}

#s1 .outer {
	background: #E0E0E0;
	height : 45vh;
	width : 45vw;
	margin-left : 0vw;
	/*padding-right: -10vw;*/
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#s1 .outer:hover {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	background: #BDBDBD;
	transform: translateX(-2px);
}

#s1 .inner {
	background: #FAFAFA;
	height: 40vh;
	margin-left: 2vw;
	margin-top: -5vh;
	width : 50vw;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#s1 .inner:hover {
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	transform: translate(4px, -2px);
}

#s1 .inner p {
	font-size: 2em;
	font-weight: 300;
}

#s1 .temp {
	background: black;
	color : white;
	height : 25vh;
	width: 25vh;
	margin-left: 20vw;
}

/* ABOUT */

#s2 {
	background : #FAFAFA;
	background: linear-gradient(135deg, #ABBAAB, #FFFFFF, #ABBAAB);
	background-size: 1000% 1000%; 
	animation: fancy-gradient 10s ease infinite;
}

#s2 > div {
	background: #212121;

	min-height : 40vh;
	width : 40vw;
	margin : 20px;
	padding: 15px;

	font-weight: 200;
	color : #FFFFFF;

	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: ease all 600ms;
}

#s2 > div:hover {
	color : #000;
	background: #EEEEEE;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#s2 h2 {
	font-size: 2em;
	font-weight: 300;
	vertical-align: top;
	text-align: center;
	/*padding-bottom: 5vh;*/

	background: #EEEEEE;
	color : #000;
	line-height: 2em;
}

#s2 > div:hover h2 {
	background: #212121;
	color : #FAFAFA;
} 

#s2 h4 {
	font-size: 1.5em;
	font-weight: 300;
}

#s2 .content {
	padding: 10px 20px;
	margin: 10px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
}

/* SKILLS */

#s3 {
	background: #232526;
	background: linear-gradient(315deg, #232526, #414345, #232526);
	background-size: 1000% 1000%; 
	animation: fancy-gradient 20s ease infinite;
}

#s3 .content {
	background: #FAFAFA;
	border-radius: 100%;
	padding: 40px;
	margin: 10px;

	height : 450px;
	width: 450px;

/*	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;*/

	text-align: center;
}

#s3 .content:hover {
	border-radius: 0;
	border-bottom : solid 10px #EF629F;
	color : rgba(0,0,0,0.8);
	background: #EECDA3;
}

#s3 .content:hover > div {
	/*background : rgba(0,0,0,0.1);*/
}

#s3 .content > div {
	padding: 2px 1px 10px 1px;
	margin: 10px 0;
}

#s3 h2 {
	font-size: 2em;
	font-weight: 300;
	vertical-align: top;
	text-align: center;
	padding : 10px 0px 2px 0px;
	margin-bottom: 10px;

	background: transparent;
	color : #000;
	line-height: 2em;
}

#s3 h4 {
	font-size: 1.5em;
	font-weight: 300;
}

#s3 p {
	padding: 1px;
}

/* PORTFOLIO */

@keyframes heartbeat
{
  0% {transform: scale( .95 );}
  20% {transform: scale( 1 );}
  40% {transform: scale( .95 );}
  60% {transform: scale( 1 );}
  80% {transform: scale( .95 );}
  100% {transform: scale( .95 );}
}

#s4 {
	background: linear-gradient(110deg, #1e130c 60%, #9a8478 60%);
}

#s4 h1 {
	font-size: 4em;
	font-weight: 300;
	vertical-align: top;
	text-align: center;
	padding : 10px 0px 2px 0px;
	margin-bottom: 10px;
	text-transform: uppercase;

	background: #FFFFFF;
	color : #000;
	/*animation: heartbeat infinite 1s;*/

	border: 20px double #212121;
	padding: 8px 80px 8px 80px;
	/*width: 300px;*/
}	

/* FOOTER */

#s5 {
	height : auto;
	background: #212121;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

#s5 h2 {
	font-size: 1.2em;
	font-weight: 200;
	vertical-align: top;
	text-align: center;
	padding: 5px 20px;
	/*padding-bottom: 5vh;*/

	/*background: #EEEEEE;*/
	color : #FFF;
	line-height: 2em;
}

#s5 ul {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style-type: none;
}

#s5 li {
	padding: 20px;
}

#s5 i {
	color : #FFF;
	font-size: 3em;
}

/* SM ICONS */

i {
	transition: all 400ms ease;
}

#button-fb:hover {
	color: #3B5998;
}

#button-gm:hover {
	color : #DB4437;
}

#button-li:hover {
	color : #0077B5;
}

#button-cp:hover {
	color : #000;
}

#button-gh:hover {
	color : #333;
}

/* SLCM */

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
    padding: 10px;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}


@media only screen and (max-width: 600px){
	* {
		/*border : 1px solid blue;*/
	}

	section {
		height: auto;
		min-height: 100vh;
	}

	/* NAVBAR */

	nav {
		display: flex;
		justify-content: center;
		align-items: center;

	}

	nav a {
		padding: 20px 8px;
		font-size: 0.9em;
		letter-spacing: 1.5px;
	}

	/* LANDING */

	#s1 {
		flex-direction: column-reverse;
	}

	#s1 * {
		position: static;
		margin: unset !important;
	}

	#s1 .outer, #s1 .inner {
		margin-top: 10px !important;
		width : 90vw;
		height: 50vh !important;
	}

	#s1 .inner {
		padding: 10px;
	}

	#s1 p {
		font-size: 1.5em;
		text-align: center;
	}

	/* EDUCATION */

	#s2 {
		flex-direction: column;
	}

	#s2 > div {
		width : 90vw;
	}

	/* SKILLS */

	#s3 {
		flex-direction: column;
	}

	#s3 .content {
		border-radius: 0%;
		width: 90vw;
		padding: 10px;
	}

	/* PORTFOLIO */

	#s4 {
		display: none;
	}

	/* FOOTER */

	#s5 {
		/*display: none;*/
		display: flex;
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
	}

	#s5 > ul {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}

	#s5 i {
		font-size: 1.5em;
	}


}