
/* handles body colour */
body
{
  background-color: #74AFAD;
  height: 100vh;
  font-family: 'Roboto', serif;
  margin: 0 auto;
  overflow-x: hidden;
}

#anchors
{
  background-color: #000;
  text-transform: uppercase;

  list-style: none;
  height: 100vh;
  width: 15vw;
  margin: 0;

  position: fixed;

  font-size: 2.5vw;

  z-index: 5;
  line-height: 5vw;
  padding: calc(50vh - 2.5em - 10vh) 0;

  transition: all .3s ease;
}

#anchors.close
{
  line-height: 2vh;
  font-size: 0;
  width: 0.8vw;
}

.arrow
{
  display: block;
  top: calc(50vh - 4vw);
  border-left: 3vw solid black;
  border-top: 4vw solid transparent;
  border-bottom: 4vw solid transparent;
  position: fixed;
  content: '';
  margin: 0 auto;
  padding: 0;
  left: 0.8vw;
}

#site_wrap
{
  transition: all .3s ease;
  transform: translateX(15vw);
}

#site_wrap.close
{
  transform: none;
}

.hover
{
  z-index: 4;
  height: 100vh;
  width: 15vw;
  margin: 0;
  background-color: transparent;
  position: fixed;
}

#trigger
{
  visibility: hidden;
}

#intro
{
  display: block;
  height: 100vh;
  width: 100%;
  background-color: #3F51B5;
  position: relative;
}

#intro > a
{
  display: block;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 2vh;
}

h1,h2
{
  text-align: center;
  margin: 1vh;
  user-select: none;
}

h1
{
  position: absolute;
  color: #E8EAF6;
  font-family: 'Neuton', serif;
  font-size: 20vw;
  letter-spacing: 1vw;
  top: 10vh;
  width: 100vw;
}

h2
{
  width: 100vw;
  position: absolute;
  top: 70vh;
  color: #263238;
  font-size: 4vw;
  line-height: 5vw;
}

h3
{
  margin: 0 auto;
  text-transform: uppercase;
}

a
{
  text-decoration: none;
  color: #FFF;
}

a:visited
{
  color: #FFF;
}

.block
{
  height: 40vh;
  text-align: center;
  width: 30%;
  margin: 1vw;


  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background-color: #D9853B;
  color: #ECECEA;

  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
}

.block-title
{
  text-align: center;

  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
}

.block-info
{
  display: none;
}

.block:hover
{
  background-color: #ce7d35;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22), inset 0 3px 6px rgba(0,0,0,0.11), 0 3px 6px rgba(0,0,0,0.11);

  transform: scale(1.02) translateY(-2vh);
  -webkit-transform: scale(1.02) translateY(-2vh);
  -moz-transform: scale(1.02) translateY(-2vh);
}

.block:hover .block-info
{
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
}

.block:hover .block-title
{
  display: none;
  padding: 0;
}

.block > h3
{
  color: #FFFFFF;
}

#anchor_main
{
  background-color: #74AFAD;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

#anchor_skills
{
  background-color: #E91E63;
  color: #FCE4EC;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

#anchor_social
{
  background-color: #CFD8DC;
  color: #263238;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

#anchor_social > div > a
{
  display: block;
  margin: 2vh auto;
  width: 30vmin;
  padding: 3vh 4vh;
  text-align: center;
  text-transform: uppercase;
  border-radius: 1vh;
}

#fb
{
  background-color: #3B5998;
  color: #FFFFFF;
  border: 2px solid #000D4C;
}

#fb:hover
{
  background-color: #22407F;
}

#gh
{
  background-color: #FAFAFA;
  color: #333;
  border: 2px solid #333;
}

#gh:hover
{
  background-color: #F5F5F5;
}

#li
{
  background-color: #0077B5;
  color: #FFFFFF;
  border: 2px solid #000000;
}

#li:hover
{
  background-color: #005E9C;
}


#anchor_resources
{
  height: 100vh;
  background-color: #CD5C5C;
  color: #FFEBEE;

  display: flex;
  align-items:   center;
  justify-content: center;
}

.extra > div > h3
{
  font-size: 20vmin;
  text-align: center;
  line-height: 25vh;
  text-shadow: 1px 1px black;
}

.extra > div
{
  font-size: 3vmin;
}
