body
{
  height: 100vh;
  max-width: 90%;
  background-color: #E0E0E0;
  font-family: 'Roboto', serif;
  margin: 0 auto;
  cursor: pointer;
  overflow: hidden;
}

h1,h2
{
  text-align: center;
}

h1::selection
{
  background: rgba(205,92,92,0.5);
}

h2
{
  color: black;
  background-color: white;
  border: 1px solid rgba(255,255,255,0.9);
  border-radius: 30px;
  padding: 1%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  width: 96.5%;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}

h2:hover
{
  transform: scale(1.01);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

h3
{
  margin: 0 auto;
  text-transform: uppercase;
}

a
{
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
}

a:visited
{
  color: #FFFFFF;
}

.row
{
  user-select: none;
  width: 100%;
  display: inline-block;
}

.block
{
  text-align: center;
  float: left;
  width: 31.005%;
  margin: 1%;
  padding: 0.1%;
  border-radius: 10px;
  height: 150px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  transition: all .3s ease;
  -webkit-transition: all .3s ease;
}

.box-obj
{
  background-color: #0097A7;
  color: #E0F7FA;
}

.box-exp
{
  background-color: #689F38;
  color: #F1F8E9;
}

.box-edu
{
  background-color: #AFB42B;
  color: #F9FBE7;
}

.block-title
{
  text-align: center;
  position: relative;
  padding: 17% 0 17% 0;
}

.block-info
{
  display: none;
  height: 80px;
  color: inherit;
}

/*...block hover animation begins here...*/
.block:hover
{
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22), inset 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
}

.box-obj:hover
{
  background-color: #00838F;
}

.box-exp:hover
{
  background-color: #558B2F;
}

.box-edu:hover
{
  background-color: #9E9D24;
}

.block:hover .block-info
{
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 5% 0 5%;
}

.block:hover .block-title
{
  display: none;
  padding: 0;
}

.block > h3
{
  color: #FFFFFF;
}

.wrapper
{
  margin-top: 2%;
  float: left;
  width: 50%;
  line-height: 120%;
}

.wrapper > h3
{
  text-align: center;
  text-indent: -20%;
}

#contact
{
  text-align: center;
  width: 90%;
  background-color: rgba(69, 39, 160, 0.5);
  border-radius: 50% / 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  bottom: 0;
  padding: 1% 0 0.1% 0;
  margin: 0 auto;
  position: fixed;
}

#contact:hover
{
  background-color: rgba(69, 39, 160, 0.8);
}

#contact > li
{
  display: inline-block;
  margin: 0 5% 0 5%;
}

@media only screen and (max-width: 700px)
{
  body
  {
    max-width: 600px;
    overflow-y: auto;
  }
  h1
  {
    font-size: 30px;
  }
  h2
  {
    font-size: 20px;
    margin: 0 auto;
  }
  h3
  {
    font-size: 15px;
  }
  .block
  {
    float: none;
    margin: 2% auto;
    width: 50%;
  }
  .wrapper
  {
    float: none;
    width: 100%;
  }
  .wrapper > h3
  {
    text-indent: 0;
  }
  #resources
  {
    margin-bottom: 7%;
  }
  #contact
  {
    border-radius: 0;
    width: 100%;
  }
}
