@charset "utf-8";
@import "fonts";
@import "colors";
@import "mixins";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

// development only

$is-dev: false;
@if $is-dev == true {
    .wrapper:nth-of-type(even) {
        background: $sample-color;
        @include below(sm) {
            background: #111111;
        }
    }
}

body {
    // @include flex(column);
    background: $background-color;
    height: 100vh;
}

.text--title {
    font-family: $title-font;
    text-align: center;
    color: $font-color;
    font-size: 3em;
    &.text--smaller {
        font-size: 2.5em;
    }
    &.text--subtitle {
        margin-top: 2em;
        font-family: $primary-font;
        font-size: 1.5em;
        a {
            color: $font-color;
        }
    }
}

.nav--vertical {
    position: fixed;
    top: 50%;
    right: 0;
    width: 1em;
    transform: translate(-50%, -50%);

    ul {
        list-style-type: none;
    }

    a {
        display: inline-flex;
        font-family: $primary-font;
        text-decoration: none;
        width: 100%;
        height: 1em;
        border-radius: 100%;

        background: $nav--filled-color;

        .nav-label {
           opacity: 0;
        }
    }
}

.wrapper {
    @include flex(column);
    height: 100vh;
    width: 100%;
    overflow: hidden;

    .box {
        color: $font-color;
        font-family: $primary-font;
        width: 45vw;
        margin: 10px;
        // background: white;
        @include below(sm) {
            width: 90vw;
        }

        .text--box {
            font-size: 1em;
            &.text--main {
                font-size: 1.5em;
                font-family: $title-font;
            }
            &.text--sub {
                font-size: 1.2em;
            }
        }
    }
    &.wrapper--social {
        .social-links {
            @include flex(row);
            a {
                margin: 0.5em;
                color: $font-color;

                img {
                    height: 2em;
                    margin: 0.5em;
                }
            }
        }
    }
}