@charset "utf-8";
@import "fonts";
@import "colors";
@import "mixins";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    @include center-flex;
    flex-direction: column;
    background: $background-color;
    height: 100vh;
    @include below(sm) {
        background-color: $sample-color;
    }
}

.text--title {
    font-family: $title-font;
    text-align: center;
    color: $font-color;
    font-size: 3em;
}

.social-wrapper {
    @include center-flex;
    flex-direction: row;
    .social {
        color: $font-color;
        font-size: 2em;
        margin: 0.5em;
        a {
            color: $font-color;
        }
    }
}
