extends templates/layout

block navigation
    -
        const navdata = [
            {
                name : "Welcome",
                url : "social",
            },
            {
                name : "Experience",
                url : "experience",
            },
            {
                name : "Education",
                url : "education",
            },
        ]
    //- include templates/navigation

block content
    .wrapper.wrapper--social#social(data-num=data++)
        include templates/social
    //- include templates/placeholder
    .wrapper.wrapper--exp#experience(data-num=data++)
        include templates/experience
    .wrapper.wrapper--edu#education(data-num=data++)
        include templates/education

block footer
    //- include templates/social